
body {
background: #ABE6CE;
}
canvas {
	border: 1rem solid #DCEDC2;
}

.invisible {
      display: none;
}

.video{

      visibility: hidden;
}

.hebben_we_nodig{
      visibility: hidden;
}

#gameover {
      background: #780505;
      position: fixed;
      height: 100vh;
      width: 100vw;
      text-align: center;
}

#gameover h2 {
      font-size: 2em;
}

#gameover a {
      background: yellow;
      padding :5rem;
      border-radius: 1rem;
}

.titel_game{
      font-size: 3rem; 
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      font-weight: 800;
}

.waarschuwing_game{
      font-size: 1rem; 
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

}

.uitleg_game{
      font-size: 1rem;     
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
  
}

.uitleg_title{
      font-size: 1rem;
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      margin-top: 2rem;
      color: red;

}