:root {
      --space: 1rem;
      --fonts: 1rem;
      --fontm: 2rem;
      --fontl: 3rem;

      --fontfam: Helvetica, Arial, sans-serif;

      --orange: #FFD3B5;
      --groen:  #DCEDC2;
}

body {
      background: #ABE6CE;
}
canvas {
      border: var(--space) solid var(--groen);
      display: flex;
      margin: 0 auto;
}

.invisible {
      display: none;
}

.video{
      visibility: hidden;
      position: absolute;
}

.hebben_we_nodig{
      visibility: hidden;
}

#gameover {
      background: var(--orange);
      padding-top: 2rem;
      height: 120vw;
      width: 100vw;
      text-align: center;
}

.afgelopen{
      margin: 2rem;
}

.speel_opnieuw{
      margin: 2rem;
}

#gameover h2 {
      font-size: var(--fontm);
      text-transform: uppercase;
      font-family: var(--fontfam);
      font-weight: 800;
}

#gameover a {
      background: var(--groen);
      padding: 1rem 3rem;
      font-size: 2rem;
      color:  var(--orange);
      margin: 3rem;
      border-radius: var(--space);
}

.speel_opnieu{
      margin: 2rem;
}

.titel_game{
      font-size: var(--fontl); 
      font-family: var(--fontfam);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      font-weight: 800;
}

.waarschuwing_game{
      font-size: var(--fonts); 
      font-family: var(--fontfam);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
}

.uitleg_game{
      font-size: var(--fonts);     
      font-family: var(--fontfam);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: var(--space);
}

.uitleg_title{
      font-size: var(--fonts);
      font-family: var(--fontfam);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      margin-top: 2rem;
      color: red;
}