
body {
background: #ABE6CE;
}
canvas {
	border: 1rem solid #DCEDC2;
}

.invisible {
      display: none;
}

.video{
      visibility: hidden;
}

.hebben_we_nodig{
      visibility: hidden;
}

#gameover {
      background: #FFD3B5;
      padding-top: 2rem;
      height: 120vw;
      width: 100vw;
      text-align: center;
}

.afgelopen{
      margin: 2rem;
}

.speel_opnieuw{
      margin: 2rem;
}

#gameover h2 {
      font-size: 2em;
      text-transform: uppercase;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 800;
}

#gameover a {
     
      background: #DCEDC2;
      padding: 1rem 3rem;
      font-size: 2rem;
      color:  #FFD3B5;
      padding: 1rem 3rem;;
      margin: 3rem;
      border-radius: 1rem;
}
.speel_opnieu{
      margin: 2rem;
}
.titel_game{
      font-size: 3rem; 
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      font-weight: 800;
}

.waarschuwing_game{
      font-size: 1rem; 
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

}

.uitleg_game{
      font-size: 1rem;     
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
  
}

.uitleg_title{
      font-size: 1rem;
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      margin-top: 2rem;
      color: red;

}